<div id="id_container" class="container">
    <section class="sub-content">
        <div class="sub_wrap">
            <div class="sub-tit">
                <h3>피난 안내도</h3>
            </div>

            <div class="cont_layout">
                <img id="id_img" src="/main/images/test/33292_22295_3611.jpg" />
            </div>
        </div>
    </section>
</div>
<script>
    let contentsData = {{ contentData|json_encode|raw }}
        let m_img_list = [];
    if (contentsData.status == 'success'){
        m_img_list = contentsData.data;
    }else{
        m_img_list = [];
    }
</script>