<div id="id_container" class="container">
    <section class="sub-content">
        <!--            <div class="btn_back">
            <a><img src="/images/common/bnt_back.png" /></a>
        </div>-->
        <div class="sub_wrap">
            <div class="sub-tit">
                <h3># 공정명 노출</h3>
                <p id="id_sub_desc"># 공정명 노출 안전보건 정보입니다.</p>
            </div>

            <div id="id_security_list" class="security_list">
                <ul>
                    <li class="item item_1 wow animate__bounceIn" data-wow-duration="0.5s" code="0">
                        <a>물질안전 보건자료 검색</a>
                    </li>
                    <li class="item item_2 wow animate__bounceIn" data-wow-duration="0.5s" code="1">
                        <a>작업공정별 관리요령 검색</a>
                    </li>
                    <li class="item item_3 wow animate__bounceIn" data-wow-duration="0.5s" code="2">
                        <a>공정개요</a>
                    </li>
                    <li class="item item_4 wow animate__bounceIn" data-wow-duration="0.5s" code="3">
                        <a>안전보건수칙</a>
                    </li>
                    <li class="item item_5 wow animate__bounceIn" data-wow-duration="0.5s" code="4">
                        <a>안전동영상</a>
                    </li>
                    <li class="item item_6 wow animate__bounceIn" data-wow-duration="0.5s" code="5">
                        <a>응급처치요령</a>
                    </li>
                    <li class="item item_7 wow animate__bounceIn" data-wow-duration="0.5s" code="6">
                        <a>보호구 사용법</a>
                    </li>
                    <li class="item item_8 wow animate__bounceIn" data-wow-duration="0.5s" code="7">
                        <a>안전장비 자가진단</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div id="id_search_box_0" class="search_box_0" style="display: none">
        <div id="id_search_box_0_wrapper" class="con_data_list_1 swiper-wrapper">
            <div class="swiper-slide">
                <ul class="swiper-slide-container">
                    <li>
                        <a>
                            <div class="inner">
                                <div class="img"></div>
                                <div class="txt">
                                    <p><span>#물질명</span>안전보건 자료보기</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <!--
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
-->
    </div>

    <div id="id_search_box_1" class="search_box_1" style="display: none">
        <div class="search">
            <input autocomplete="off" type="text" id="id_search_textbox" placeholder="안전보건 물질명을 입력하세요"/>
            <input id="id_search_icon" type="image" src="/main/images/common/search-icon.svg"/>
        </div>

        <div class="con_data_list_2">
            <h4><span>자주 찾는 물질 안전보건 자료</span></h4>
            <ul id="id_con_daga_list_2_container" class="con_daga_list_2_container">
                <li>
                    <a>
                        <div class="inner wow animate__bounceIn" data-wow-duration="0.5s"
                             onClick="javascript:onClickItem(0);">
                            <div class="img"></div>
                            <div class="txt">
                                <p><span>#물질명</span>안전보건 자료보기</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="id_keyboard_area" class="keyboard_area" style="display: none">
    <div id="id_keyboard" class="keyboard wow animate__fadeInUp" data-wow-duration="0.35s" style="display: none">
        <div id="id_key_list_num" class="btn_list">
            <div class="btn_key_real" key_code="1" key_code_k=""><span class="center_txt">1</span></div>
            <div class="btn_key_real" key_code="2" key_code_k=""><span class="center_txt">2</span></div>
            <div class="btn_key_real" key_code="3" key_code_k=""><span class="center_txt">3</span></div>
            <div class="btn_key_real" key_code="4" key_code_k=""><span class="center_txt">4</span></div>
            <div class="btn_key_real" key_code="5" key_code_k=""><span class="center_txt">5</span></div>
            <div class="btn_key_real" key_code="6" key_code_k=""><span class="center_txt">6</span></div>
            <div class="btn_key_real" key_code="7" key_code_k=""><span class="center_txt">7</span></div>
            <div class="btn_key_real" key_code="8" key_code_k=""><span class="center_txt">8</span></div>
            <div class="btn_key_real" key_code="9" key_code_k=""><span class="center_txt">9</span></div>
            <div class="btn_key_real" key_code="0" key_code_k=""><span class="center_txt">0</span></div>
        </div>
        <div id="id_key_list_eng01" class="btn_list">
            <div class="btn_key_real" key_code="q" key_code_k="ㅂ"><span class="center_txt">ㅂ</span></div>
            <div class="btn_key_real" key_code="w" key_code_k="ㅈ"><span class="center_txt">ㅈ</span></div>
            <div class="btn_key_real" key_code="e" key_code_k="ㄷ"><span class="center_txt">ㄷ</span></div>
            <div class="btn_key_real" key_code="r" key_code_k="ㄱ"><span class="center_txt">ㄱ</span></div>
            <div class="btn_key_real" key_code="t" key_code_k="ㅅ"><span class="center_txt">ㅅ</span></div>
            <div class="btn_key_real" key_code="y" key_code_k="ㅛ"><span class="center_txt">ㅛ</span></div>
            <div class="btn_key_real" key_code="u" key_code_k="ㅕ"><span class="center_txt">ㅕ</span></div>
            <div class="btn_key_real" key_code="i" key_code_k="ㅑ"><span class="center_txt">ㅑ</span></div>
            <div class="btn_key_real" key_code="o" key_code_k="ㅐ"><span class="center_txt">ㅐ</span></div>
            <div class="btn_key_real" key_code="p" key_code_k="ㅔ"><span class="center_txt">ㅔ</span></div>
        </div>
        <div id="id_key_list_eng02" class="btn_list">
            <div class="btn_key_real key__mL90" key_code="a" key_code_k="ㅁ">
                <span class="center_txt">ㅁ</span>
            </div>
            <div class="btn_key_real" key_code="s" key_code_k="ㄴ"><span class="center_txt">ㄴ</span></div>
            <div class="btn_key_real" key_code="d" key_code_k="ㅇ"><span class="center_txt">ㅇ</span></div>
            <div class="btn_key_real" key_code="f" key_code_k="ㄹ"><span class="center_txt">ㄹ</span></div>
            <div class="btn_key_real" key_code="g" key_code_k="ㅎ"><span class="center_txt">ㅎ</span></div>
            <div class="btn_key_real" key_code="h" key_code_k="ㅗ"><span class="center_txt">ㅗ</span></div>
            <div class="btn_key_real" key_code="j" key_code_k="ㅓ"><span class="center_txt">ㅓ</span></div>
            <div class="btn_key_real" key_code="k" key_code_k="ㅏ"><span class="center_txt">ㅏ</span></div>
            <div class="btn_key_real" key_code="l" key_code_k="ㅣ"><span class="center_txt">ㅣ</span></div>
        </div>
        <div id="id_key_list_eng03" class="btn_list">
            <div class="btn_key_real key__shift-left" key_code="SHIFT"><i class="icon-shift">north</i></div>
            <div class="btn_key_real" key_code="z" key_code_k="ㅋ"><span class="center_txt">ㅋ</span></div>
            <div class="btn_key_real" key_code="x" key_code_k="ㅌ"><span class="center_txt">ㅌ</span></div>
            <div class="btn_key_real" key_code="c" key_code_k="ㅊ"><span class="center_txt">ㅊ</span></div>
            <div class="btn_key_real" key_code="v" key_code_k="ㅍ"><span class="center_txt">ㅍ</span></div>
            <div class="btn_key_real" key_code="b" key_code_k="ㅠ"><span class="center_txt">ㅠ</span></div>
            <div class="btn_key_real" key_code="n" key_code_k="ㅜ"><span class="center_txt">ㅜ</span></div>
            <div class="btn_key_real" key_code="m" key_code_k="ㅡ"><span class="center_txt">ㅡ</span></div>
            <div class="btn_key_real key__delete" key_code="BACK"><i class="icon-spacebar">backspace</i></div>
        </div>

        <div class="btn_list">
            <div class="btn_key_real key__convert key__mL90" key_code="HAN">한/영</div>
            <div class="btn_key_real key__spacebar" key_code=" "></div>
            <div class="btn_key_real key__enter" key_code="ENTER">Enter</div>
        </div>
    </div>
    <div id="id_keyboard_bg" class="keyboard_bg"></div>
</div>

<div id="id_search_result_page" class="search-result-page" style="display: none">
    <div id="id_search_result_box" class="search-result-box"><span>“00000”</span>의 검색결과 입니다.</div>

    <div id="id_search_result" class="search_result">
        <div id="id_search_result_wrapper" class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slide-container">
                    <ul class="list_wrap">
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-container">
                    <ul class="list_wrap">
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="info">
                                    <span>물질명</span> 지붕공사 중 안전대 부착설비 안전사용 안내 OPS
                                </div>
                                <div class="btn">보기</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div id="id_contents_list" class="picture-list" style="display: none">
    <div id="id_contents_list_wrapper" class="swiper-wrapper">
        <div class="swiper-slide">
            <ul class="swiper-slide-container">
                <li>
                    <div class="list-img">
                        <img src="/main/images/test/img_picture.png"/>
                    </div>
                    <p class="tit">동영상 제목 노출동영상 제목 노출</p>
                </li>
            </ul>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <ul class="list_wrap">
                    <li>
                        <div class="list-img">
                            <img src="/main/images/test/img_picture.png"/>
                        </div>
                        <p class="tit">동영상 제목 노출동영상 제목 노출</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
