<div id="id_container" class="sub">


    <section class="container">
        <div class="content">

            <div class="situation">
                <ul>
                    <li>
                        <dl class="list_item_dl">
                            <dt class="list_item_dt">목표일</dt>
                            <dd class="list_item_dd">
                                <span id="id_num_0" class="item_dd_box box1">3500</span>일
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list_item_dl">
                            <dt class="list_item_dt">달성일</dt>
                            <dd class="list_item_dd">
                                    <span id="id_num_1" class="item_dd_box box1">
                                        379
                                    </span>일
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list_item_dl">
                            <dt class="list_item_dt">달성률</dt>
                            <dd class="list_item_dd">
                                    <span id="id_pp" class="item_dd_box box1">
                                        10.8
                                    </span>%
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list_item_dl">
                            <dt class="list_item_dt">시작일</dt>
                            <dd class="list_item_dd">
                                    <span id="id_start" class="item_dd_box box2">
                                        2023. 01. 01
                                    </span>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list_item_dl">
                            <dt class="list_item_dt">현재일</dt>
                            <dd class="list_item_dd">
                                    <span id="id_today" class="item_dd_box box2">
                                        2023. 10. 27
                                    </span>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list_item_dl">
                            <dt class="list_item_dt">현재시간</dt>
                            <dd class="list_item_dd">
                                    <span id="id_hh" class="item_dd_box box3">
                                        16
                                    </span>
                                시
                                <span id="id_mm" class="item_dd_box box3">
                                        16
                                    </span>
                                분
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>