<div class="wrap">
    <main class="sub">
        <div class="container">
            <div class="imgBox">
                <img id="id_img" src="/main/images/test/33292_22295_3611.jpg" />
            </div>
        </div>
    </main>
</div>