.container {
    background-color: #102758;
}

.swiper-container {
    width: 100%;
    height: 2160px;
}

/* navigation */
.wrap_thumb_layout .swiper-button-next,
.wrap_thumb_layout .swiper-button-prev {
    top: 75%;
}

.wrap_thumb_layout .swiper-button-prev,
.wrap_thumb_layout .swiper-rtl .swiper-button-next {
    left: -40px;
}

.wrap_thumb_layout .swiper-button-next,
.wrap_thumb_layout .swiper-rtl .swiper-button-prev {
    right: -40px;
}

/* pagination */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -35px;
}

.swiper-pagination-bullet {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(136, 95, 95, 0.2);
    margin: 0 25px !important;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.top_area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_area .search_area {
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ff0000;
}

.top_area .search_area .text_area input {
    width: 750px;
    height: 30px;
    text-align: center;
    font-size: 25px;
}

.top_area .search_area .btn_search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box_0 {
    position: absolute;
    top: 520px;
    left: 80px;
    width: 2000px;
    height: 2000px;
}

.search_box_1 {
    position: absolute;
    top: 520px;
    left: 80px;
    width: 2000px;
}

.swiper-slide-container {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.swiper-slide {
    height: 1800px;
    /*    background: #FF0000;*/
}

.search_box_1 .search {
    z-index: 210;
}

/* 키보드 */
.keyboard_area {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 2160px;
    height: 2980px;
}

.keyboard_area .keyboard_bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 180;
    width: 2160px;
    height: 2980px;
    background: #000000cc;
}

.keyboard {
    position: relative;
    top: 800px;
    z-index: 190;
    width: 1620px;
    border-radius: 30px;
    background: #0b193f;
    box-sizing: border-box;
}

.btn_list {
    margin-top: 20px;
    overflow: hidden;
}

.btn_key_real {
    width: 130px;
    height: 130px;
    float: left;
    background: #1a2f5a;
    color: #fff;
    line-height: 130px;
    text-align: center;
    margin-left: 20px;
    border-radius: 15px;
    font-size: 60px;
    font-weight: 700;
}

.btn_list:first-child {
    padding-top: 20px;
}

.key__shift-left {
    width: 202px;
}

.key__convert {
    width: 300px;
    color: #4064a7;
    font-size: 50px;
}

.key__delete {
    width: 202px;
}

.key__enter {
    width: 300px;
    color: #4064a7;
    font-size: 50px;
}

.key__spacebar {
    width: 705px;
}

.key__mL90 {
    margin-left: 90px;
}

.key__mL150 {
    margin-left: 150px;
}

.icon-spacebar {
    font-size: 60px;
    color: #4064a7;
}

.icon-shift {
    font-size: 60px;
    color: #4064a7;
    font-weight: bold;
}

.btn_key_real:active {
    background: #484c58;
}

.btn_key_real.active {
    background: #484c58;
}

.search-result-page {
    position: absolute;
    z-index: 210;
    top: 520px;
    left: 80px;
    width: 2000px;
    height: 2200px;
}

.swal2-popup {
    font-size: 2.5rem !important;
}

.con_data_list_1 li .inner .txt {
    width: 400px;
}
.con_data_list_1 li .inner .img {
    overflow: hidden; /* 초과하는 부분 숨김 */
    position: relative; /* 이미지의 위치 설정 */
}
.con_data_list_1 li .inner .img img {
    width: 100%; /* 이미지 너비 100%로 설정 */
    height: auto; /* 이미지 높이 자동으로 조정하여 비율 유지 */
    position: absolute; /* 이미지의 위치 설정 */
    top: 50%; /* 부모 요소의 중앙으로 이동하기 위한 값 */
    left: 50%; /* 부모 요소의 중앙으로 이동하기 위한 값 */
    transform: translate(-50%, -50%); /* 이미지를 가운데 정렬 */
    max-width: 100%; /* 이미지가 원본 크기보다 클 경우 최대 너비 설정 */
    max-height: 100%; /* 이미지가 원본 크기보다 클 경우 최대 높이 설정 */
}

.con_data_list_2 li .inner .txt {
    width: 400px;
}
.con_data_list_2 li .inner .img {
    overflow: hidden; /* 초과하는 부분 숨김 */
    position: relative; /* 이미지의 위치 설정 */
}
.con_data_list_2 li .inner .img img {
    width: 100%; /* 이미지 너비 100%로 설정 */
    height: auto; /* 이미지 높이 자동으로 조정하여 비율 유지 */
    position: absolute; /* 이미지의 위치 설정 */
    top: 50%; /* 부모 요소의 중앙으로 이동하기 위한 값 */
    left: 50%; /* 부모 요소의 중앙으로 이동하기 위한 값 */
    transform: translate(-50%, -50%); /* 이미지를 가운데 정렬 */
    max-width: 100%; /* 이미지가 원본 크기보다 클 경우 최대 너비 설정 */
    max-height: 100%; /* 이미지가 원본 크기보다 클 경우 최대 높이 설정 */
}

/* 영상 list */

.picture-list {
    position: absolute;
    top: 520px;
    left: 100px;
    width: 2000px;
    height: 2300px;
}

.picture-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.picture-list li {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 680px;
    background: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-right: 85px;
    margin-bottom: 80px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.picture-list li:nth-child(3n) {
    margin-right: 0;
}

.picture-list .list-img {
    width: 600px;
    height: 407px;
    border-bottom: 2px solid #d4d4d4;
    background: #fbfbfb;
    position: relative;
    overflow: hidden; /* 초과하는 부분 숨김 */
}

.picture-list .list-img img {
    width: 100%; /* 이미지 너비 100%로 설정 */
    height: auto; /* 이미지 높이 자동으로 조정하여 비율 유지 */
    position: absolute; /* 이미지의 위치 설정 */
    top: 50%; /* 부모 요소의 중앙으로 이동하기 위한 값 */
    left: 50%; /* 부모 요소의 중앙으로 이동하기 위한 값 */
    transform: translate(-50%, -50%); /* 이미지를 가운데 정렬 */
    max-width: 100%; /* 이미지가 원본 크기보다 클 경우 최대 너비 설정 */
    max-height: 100%; /* 이미지가 원본 크기보다 클 경우 최대 높이 설정 */
}

.picture-list .list-img .ico_play {
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 1;
    background-image: url(/images/common/ico-play1.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 153px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.picture-list p {
    padding: 30px;
}

.picture-list p.tit {
    font-size: 40px;
    font-weight: 700;
}
